.main-content{
    margin: 27px auto;
    background-color: #E6ECF0;
    width: 100%;
}
/* midd content */
.content{
    margin: 0px auto;
    width: 90%;
    background: #FFFFFF;
    
}
.mid-content{
    background: #FFFFFF;
    margin-left: 5px;
}
.form-post{
    margin: 2px;
    height: 50px;
    width: 100%;
    background-color: #E8F5FD;
    margin-left: 0px;
}
.post-left{
    float: left;
    width: 3%;
    border-radius: 15px;
}
.avata-image{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
}
.post-right{
    width: 93%;
    float: right;
    height: 50px;
}
.text-post{
    height: 5px;

}
.bt-post{
    border-radius: 25px;
    float:right;
    margin: 4px;
}
.media-post{
    float: left;
}
.user-avata{
    width: 40px;
    height: 40px;
    border-radius: 100px; 
}
.post-content{
    margin-left: 5px;
}
.image-of-post{
    width: 80%;
}
/* left content */
.left-content{
    background: #FFFFFF;
}
.left-first{
    height: 90px;
    margin: 5px;
    background-color: #55C500;
}
.avata-main{
    width: 80px;
    height: 75px;
    margin-top: -40px;
    margin-left: 10px;
    border-radius: 100px;
}
.user-name{
    margin-left: 3px;
    float: right;
}
.nickname{
    opacity: 0.6;
}
.block-2{
    margin: 5px;
}
.sugget-status{
    opacity: 0.6;
    font-size: 11px;
}

/* right content */
.right-content{
    background: #FFFFFF;
    margin-left: 7px;
}
.follwing-left{
    float: left;
}
.follwing-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float:left;
}
.follwing-right{
    margin-left: 10px;
}
.follwing-button{
    background-color: white;
    border-radius: 50px;
    color: #235280;
    border-color: #235280;
}
/* search friend */
.search-friend{
    margin: 3px;
}
.content-suggest{
    margin: 10px;
    line-height: 2px;
    font-size: 11px;
}
.gmail-icon-image{
    width: 20%;
    height: 30%;
    float: left;
}
.search-friend-know{
    opacity: 0.6;
}
/* copyright */
.copyright-text{
    opacity: 0.6;
    color: #000000;
    text-decoration: #000000;
}
/* post information */
.post-info{
    width: 70%;
}
/* sugget */
.sugges{
    width: 100%;
    float: left;
}