.header{
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    background-color: #55C500;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100000;
}
.block-nav{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
.form-search{
    margin: -7px;
}
.left-header{
    float: left;
}
.right-header{
    float: right;
}
.search-form{
    border-radius: 20px;
}
.search-button{
    border-radius: 20px;
}
.search-icon{
    width: 20px;
    height: 20px;
}
